%h1.mt-4.mb-4 イベント一覧

= search_form_for(@q, url: root_path) do |f|
  .form-group
    = f.label :name, "Keyword"
    = f.text_field :name_or_place_or_content_cont, class: "form-control"
  .form-group
    = f.label :start_at, "以降に開催されるイベント"
    = f.datetime_field :start_at_gteq, class: "form-control"
  .forn-group.mt-4.mb-4
    = f.submit "検索", class: "btn btn-primary"

%ul.list-group
  - @events.each do |event|
    = link_to(event, class: "list-group-item list-group-item-action") do
      %h5.list-group-item-heading= event.name
      %p.mb-1= "#{l(event.start_at, format: :long)} - #{l(event.end_at, format: :long)}"

.mt-2.mb-2
  = page_entries_info @events
= paginate @events